<main>
    <section class="pt-5">
        <div class="container">

            <input id="userInput" [(ngModel)]="user"
                class="form-control w-50 m-auto mb-5"
                type="text" placeholder="Enter user name">
            <h4
                class="text-center text-capitalize mb-4 overflow-hidden">{{user}}</h4>

            <div class="row g-4">

                @for (product of productList; track product.id) {
                <div class=" col-sm-12 col-md-6 col-lg-3  ">
                    <div class="card p-0 border-2 h-100  "
                        [class]="{
                             'border-success':product.onSale,
                        'border-danger':!product.onSale
                    }
                        ">

                        <div class="top  ">
                            <!-- <h1>{{$index}}</h1>
                            <h1>{{$odd}}</h1>
                            <h1>{{$even}}</h1>
                            <h1>{{$first}}</h1>
                            <h1>{{$last}}</h1> -->
                            <img [src]="product.imageCover"
                                class="w-100 rounded-2"
                                alt="...">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title h4">{{product.title}}</h5>
                            <p class="card-text">{{product.description}}</p>

                            <div class="row">
                                @for (path of product.images; track $index) {
                                <div class="col-3">
                                    <img
                                        [src]="path" alt="..." class="w-100">
                                </div>
                                }

                            </div>
                        </div>

                    </div>
                </div>

                }
                @empty {
                <i class='fa-solid fa-box-open fa-2xl text-muted '></i><p
                    class='text-center text-muted fw-bold'>No products to
                    display.</p>
                }

            </div>

        </div>
    </section>

</main>