<section>
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 text-bg-dark mt-4 py-5  ">
                <ul>
                    <li class=" h5 mb-3"><a class=" h5 "
                            routerLink="headphone">HeadPhone</a></li>
                    <li><a class=" h5"
                            routerLink="airbuds">AirBuds</a></li>
                </ul>

            </div>
            <div class="col-lg-8 bg-body mt-4 ">
                <router-outlet></router-outlet>

            </div>

        </div>

    </div>
</section>
