<footer class="bg-dark text-white py-5  mt-5">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h5>My Website</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home"
                            class="text-white text-decoration-none">Home</a></li>
                    <li><a routerLink="/about"
                            class="text-white text-decoration-none">About</a></li>
                    <li><a routerLink="/contact"
                            class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: yoseftamer206@gmail.com</p>
                <p>Phone: +20 1097811699</p>
            </div>

        </div>

        <hr>

        <div class="text-center">
            <p class="mb-0">
                © 2026 All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
